@using Microsoft.AspNet.Identity
@using Thinktecture.IdentityModel
@using Thinktecture.IdentityModel.Authorization
@using Turkok.Model.Lookup
@model Turkok.Model.ApplicationUser

<style>
    ul#sidebar-menu li a {
        background: none;
        color: #999;
        padding: 5px;
        text-decoration: none;
    }

        ul#sidebar-menu li a.active {
            background-color: #dfdfdf;
            color: black;
        }
</style>

<aside class="left-side sidebar-offcanvas">

    <section class="sidebar">

        <div class="user-panel">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="pull-left info">

                    <p>Merhaba, @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage")</p>

                </div>
            }
        </div>

        <ul class="sidebar-menu" id="sidebar-menu">
            
            @if (ClaimsAuthorization.CheckAccess(Resources.BasvurularActions.View, Resources.Basvurular))
            {
                <li class="">
                    <a href="@Url.Action("Index", "Basvuru")" title="Başvurular"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">Başvurular</span></a>
                </li>
            }
            
            @if (ClaimsAuthorization.CheckAccess(Resources.GonulluVericiMerkeziActions.View, Resources.GonulluVericiMerkezi))
            {
                <li>
                    <a href="@Url.Action("Index", "GonulluVericiMerkezi")"><i class="fa fa-lg fa-fw fa-building-o"></i> <span class="menu-item-parent">Verici Merkezi</span></a>
                </li>
            }
            
            @if (ClaimsAuthorization.CheckAccess(Resources.KullanicilarActions.View, Resources.Kullanicilar))
            {
                <li class="">
                    <a href="@Url.Action("Index", "Kullanicilar")" title="Kullanıcılar"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Kullanıcılar</span></a>
                </li>
            }
            
            @if (ClaimsAuthorization.CheckAccess(Resources.GuvenlikKayitlariActions.View, Resources.GuvenlikKayitlari))
            {
                <li class="">
                    <a href="@Url.Action("Index", "AuditTrails")" title="Güvenlik Kayıtları"><i class="fa fa-lg fa-fw fa-shield"></i> <span class="menu-item-parent">Güvenlik Kayıtları</span></a>
                </li>
            }
            
            @if (ClaimsAuthorization.CheckAccess(Resources.DuyurularActions.View, Resources.Duyurular))
            {
                <li>
                    <a href="@Url.Action("Index", "Announcements")"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent">Duyurular</span></a>
                </li>
            }
           
            @if (ClaimsAuthorization.CheckAccess(Resources.DokumanlarActions.View, Resources.Dokumanlar))
            {
                <li>
                    <a href="@Url.Action("Index", "Documents")"><i class="fa fa-lg fa-fw fa-files-o"></i> <span class="menu-item-parent">Dokumanlar</span></a>
                </li>
            }
            
            @if (ClaimsAuthorization.CheckAccess(Resources.YardimMasasiActions.View, Resources.YardimMasasi))
            {
                <li>
                    <a href="@Url.Action("Index", "Help")"><i class="fa fa-lg fa-fw fa-comment"></i> <span class="menu-item-parent">Yardım Masası</span></a>
                </li>
            }
            
            @if (User.IsInRole("Yönetici"))
            {
                <li>
                    <a href="@Url.Action("Index", "ClaimAuthorisation")"><i class="fa fa-lg fa-fw fa-power-off"></i> <span class="menu-item-parent">Yetki Yönetimi</span></a>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
